*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
 width: 100%;

 display: flex;
 
background: linear-gradient(to right, #03ddffcb, #ff0381b6);

 justify-content: center;

}
.container{
 padding:10px;
}
#task,.searchbox input{
width: 600px;
background: transparent;
outline: none;
border: 0;
border-bottom:2px solid black ;
margin: 20px 0;
display: inline-block;
font-size: 20px;
font-weight: bold;
color: white;
}
::placeholder{
 color: rgba(252, 252, 252, 0.6);
 padding-left:10px ;
}
.not-complete,.complete1{
 background: rgb(219, 89, 89);
 display: flex;
 justify-content: space-between;
 width: 650px;
 text-align: center;
 align-items: center;
 box-shadow: 2px 2px 10px 3px rgba(255, 255, 255, 0.5);
 margin-bottom: 5px;
padding: 10px 10px;
 font-family: cursive;
 border-radius: 30px;
 color: white;
 transition-duration: 1s;
}
.not-complete p,.complete1 p{
 font-size: 23px;
}
.spn{
 background-color: chartreuse;
 padding: 13px;
 margin-right: 5px;
 border-radius: 50%;
 color: rgb(252, 252, 252);

}
.icon i{
width: 30px;
 height: 30px;
 border-radius: 5px;
 color: rgb(255, 255, 255);
 background: linear-gradient(to right,rgba(109, 243, 109),#00ffff);
 font-size: 20px;

border:2px solid black;
padding: 5px;
 cursor: pointer;
}
.input button,.icon button,#search-btn{
 cursor: pointer;
 background: transparent;

 background: linear-gradient(to right,rgba(109, 243, 109),#00ffff);
 outline: none;
 width: 150px;
 height: 40px;
 outline: none;
 border:2px solid rgb(0, 0, 0);
color: white;
font-weight: bold;
border-radius: 30px;
margin-right: 10px;
box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);

}
.input button:hover,.icon button:hover,.icon i:hover,#search-btn:hover{
background: rgb(148, 235, 91);
}

.icon button{
width: 35px;
display: inline-block;
 height: 35px;
 border-radius: 5px;
 margin: 0px 5px;
 box-shadow: none;
}
.input{
   display: flex;
}
.icon{
    display: flex;
   
    align-items: center;

}
h1{
  color: rgb(224, 255, 199);
    text-align: center;
    display: none;
    margin-left: -150px;
   
}
.container h1:first-child{
    color: rgb(218, 252, 252);
     display: block;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.searchbox{
    position: fixed;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    z-index: 3;
}
.searchbox input{

    width: 250px;
    height: 30px;
}
#search-btn{
    width: 100px;
}
.complete1{
    background-color: rgb(68, 68, 248,0.7);box-shadow: 2px 2px 10px 3px rgba(255, 255, 255, 0.3); 
  }
  .searchbox i{
      margin-right: -10px;
      font-size: 20px;
      color: rgb(255, 255, 255,0.6);
  }
/* #dlt{
  padding: 10px;
} */